@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&family=Titillium+Web:wght@300;400;600&display=swap');
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"); */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------*/


:root {
    --color-bg-blue: rgba(84,104,171,255);
    --color-bg-grey:  rgba(247,244,249,255);
    --color-txt-grey: rgba(90,89,96,255);
    --color-hl-grey: rgba(227,226,232,255);

}

body {
    font-family: 'Inter', sans-serif;
}

@media (min-width: 992px) { 

    .hamburger-hidden {
        display: none;
    }

    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 10fr;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    nav {
        grid-row: 2 / -1;
        grid-column: 1 / 2; 
    }

    main {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media (max-width: 992px) { 
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        cursor: pointer;
    }

    #sidebar {
        display: none;
    }

    main {
        padding: 20px;
    }

}


.hamburger-icon {
    width: 2rem;
    height: 2rem;
}

header {
    background-color: var(--color-bg-blue);
    padding: 20px;
}

nav {
    background-color: var(--color-bg-grey);
    padding: 20px;
}

nav, main {
    color: var(--color-txt-grey);
}

h1 {
    color: #fff;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    cursor: pointer;
    margin-top:40px;
    margin-bottom: 10px;
    font-weight: 600;
}

li, button {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding:10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

p {
    font-size: 1.2rem;
    padding:10px;
    margin: 5px;
}



/*form */

label, textarea {
    margin-bottom: 8px;
}

input {
    margin-bottom: 10px;
}

main form {
    width: 50%;
}

form {
    margin: 20px;

}

.cpltIcon {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}

.allCpltIcon {
    margin-bottom: 0px;
}

.filter-red {
    filter: invert(21%) sepia(88%) saturate(5957%) hue-rotate(357deg) brightness(98%) contrast(126%);
}

.filter-red:hover {
    filter: invert(7%) sepia(87%) saturate(7260%) hue-rotate(23deg) brightness(96%) contrast(104%);
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(185deg) brightness(100%) contrast(103%);
}

.itemArrLi {
    padding: 5px 25px 5px 20px;
    border: 1px var(--color-hl-grey) solid;
} 

.right-div, .left-div {
    display: flex;
    align-items: center;
}

.itemArrLi:hover {
    background-color: var(--color-hl-grey);
}


.active {
    background-color: var(--color-hl-grey);
}

.strike-through  {
    text-decoration: line-through;
    color: red;
}

.hidden {
    display: none;
}

.disable-click {
    pointer-events: none;
}

/* btn  */

.add-btn  {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 20px;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    gap: 7px;
    padding-left: 10px;
}

.add-btn::before{
    content: url(./bootstrap-icons/plus-circle.svg);
    width: 1.2rem;
    height: 1.2rem;
}

.add-btn:hover {
    font-weight: 600;
}

.btn {
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.itemEditBtn {
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 0px;
}


  



